body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Three rows - header, main content, footer */
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

.book_title {
    background-color:#333;
    color: #fff;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

#ratingStars span {
    font-size: 24px; /* Adjust the font size as needed */
    cursor: pointer;
}

    
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/*Extra styling for the contact me page*/
/* Add these styles to your existing CSS */

#contact {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

form {
    display: grid;
    gap: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input{
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#result {
    margin-top: 20px;
    color: #333;
}

/* Optional: Add media queries for responsiveness */
@media (max-width: 600px) {
    form {
        grid-template-columns: 1fr;
    }
}
